<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
testing listitem page



<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Details</th>
      <th>Due Date</th>
  </tr>
{%  for instance in obj %}
  <tr>
    <td>{{ instance.id }}</td>
    <td>{{ instance.title }}</td>
    <td>{{ instance.detail }}</td>
      <td>{{ instance.Due_Date }}</td>
    <td><a href="{% url 'DeleteItem' instance.id %}">Delete</a></td>
    <td><a href="{% url 'UpdateItem' instance.id %}">Update</a></td>
  </tr>
{% endfor %}


#calendar
{{ cal|safe }}

</table>











</body>
</html>